<%- include('partials/_header') %>
<div class="row">
  <h2 class="col-fluid mb-4">Hello, This is a greeting from the creator of this abomination to you.</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- FORM--->
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
      <div class="card"> 
        <div class="card-body">
          <h3 class="offset-md-4">Add a User</h3>
          <form action="/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="Add a User"/>
              <input class="form-control" type="text" name="lastname" placeholder="Add a Last Name">
              <input class="form-control" type="text" name="username" placeholder="Add a User Name">
              <input class="form-control" type="text" name="password" placeholder="Add a Password">
              <input class="form-control" type="text" name="email" placeholder="Add a Email">
              <input class="form-control" type="text" name="phone" placeholder="Add a Phone">
            </div>
            <button class="btn btn-primary btn-block offset-md-5" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- LIST-->
    <div class="col-12 col-sm-12 col-md-12	col-lg-7 col-xl-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>name</th>
            <th>Last Name</th>
            <th>user Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Operation</th>

          </tr>
        </thead>
        <tbody >
          <%for(var i = 0; i < users.length; i++){%>
              <tr>
                <td><%= users[i].name%></td>
                <td><%= users[i].lastname %></td>
                <td><%= users[i].username %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].phone %></td>
                <td>
                    <div class="btn-group row align-items-center">
                      <a href="/delete/<%= users[i]._id%>" class="btn btn-danger col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">Delete</a>
                      <a href="/edit/<%= users[i]._id%>" class="btn btn-info col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">Edit</a>
                </td>
              </tr>
              <%}%>
            </div>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('partials/_footer')%>
